html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  min-height: 260px;

}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  top: 1.85em;
  transform: translateX(-50%);
  width: 100%;
  max-width: 46px;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  overflow: hidden;
  top: 2em;
  left: 57.5%;
  transform: translateX(-57.5%);
  width: 100%;
  max-width: 128px;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  top: 2em;
  overflow: hidden;
  left: 42.5%;
  transform: translateX(-42.5%);
  width: 100%;
  max-width: 128px;
}
